In [1]:
import pandas as pd
import ast
from pprint import pprint

In [4]:
df = pd.read_csv("movies_metadata.csv")
df2 = pd.read_csv("credits.csv")
df2.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [5]:
data_dict = ast.literal_eval(df2["crew"][1])

In [8]:
pprint(data_dict)

[{'credit_id': '52fe44bfc3a36847f80a7cd1',
  'department': 'Production',
  'gender': 2,
  'id': 511,
  'job': 'Executive Producer',
  'name': 'Larry J. Franco',
  'profile_path': None},
 {'credit_id': '52fe44bfc3a36847f80a7c89',
  'department': 'Writing',
  'gender': 2,
  'id': 876,
  'job': 'Screenplay',
  'name': 'Jonathan Hensleigh',
  'profile_path': '/l1c4UFD3g0HVWj5f0CxXAvMAGiT.jpg'},
 {'credit_id': '52fe44bfc3a36847f80a7cdd',
  'department': 'Sound',
  'gender': 2,
  'id': 1729,
  'job': 'Original Music Composer',
  'name': 'James Horner',
  'profile_path': '/oLOtXxXsYk8X4qq0ud4xVypXudi.jpg'},
 {'credit_id': '52fe44bfc3a36847f80a7c7d',
  'department': 'Directing',
  'gender': 2,
  'id': 4945,
  'job': 'Director',
  'name': 'Joe Johnston',
  'profile_path': '/fok4jaO62v5IP6hkpaaAcXuw2H.jpg'},
 {'credit_id': '52fe44bfc3a36847f80a7cd7',
  'department': 'Editing',
  'gender': 2,
  'id': 4951,
  'job': 'Editor',
  'name': 'Robert Dalva',
  'profile_path': None},
 {'credit_id': '573523bec3a368025100062c',
  'department': 'Production',
  'gender': 0,
  'id': 4952,
  'job': 'Casting',
  'name': 'Nancy Foy',
  'profile_path': '/blCkmS4dqNsbPGuQfozHE6wgWBw.jpg'},
 {'credit_id': '5722a924c3a3682d1e000b41',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8023,
  'job': 'Animation Supervisor',
  'name': 'Kyle Balda',
  'profile_path': '/jR8iAP6uC0V42KbUG87qBIUO3Hj.jpg'},
 {'credit_id': '52fe44c0c3a36847f80a7ce3',
  'department': 'Art',
  'gender': 2,
  'id': 9967,
  'job': 'Production Design',
  'name': 'James D. Bissell',
  'profile_path': None},
 {'credit_id': '52fe44bfc3a36847f80a7cb9',
  'department': 'Production',
  'gender': 2,
  'id': 9184,
  'job': 'Producer',
  'name': 'Scott Kroopf',
  'profile_path': None},
 {'credit_id': '52fe44bfc3a36847f80a7ccb',
  'department': 'Production',
  'gender': 2,
  'id': 9196,
  'job': 'Executive Producer',
  'name': 'Ted Field',
  'profile_path': '/qmB7sZcgRUq7mRFBSTlSsVXh7sH.jpg'},
 {'credit_id': '52fe44bfc3a36847f80a7cc5',
  'department': 'Production',
  'gender': 2,
  'id': 18389,
  'job': 'Executive Producer',
  'name': 'Robert W. Cort',
  'profile_path': None},
 {'credit_id': '52fe44bfc3a36847f80a7cbf',
  'department': 'Camera',
  'gender': 2,
  'id': 11371,
  'job': 'Director of Photography',
  'name': 'Thomas E. Ackerman',
  'profile_path': '/xFDbxk53icM1ofL4iCIwB4GkUxN.jpg'},
 {'credit_id': '52fe44bfc3a36847f80a7c83',
  'department': 'Writing',
  'gender': 2,
  'id': 42356,
  'job': 'Novel',
  'name': 'Chris van Allsburg',
  'profile_path': None},
 {'credit_id': '52fe44bfc3a36847f80a7cb3',
  'department': 'Production',
  'gender': 2,
  'id': 42357,
  'job': 'Producer',
  'name': 'William Teitler',
  'profile_path': None},
 {'credit_id': '52fe44bfc3a36847f80a7c8f',
  'department': 'Writing',
  'gender': 2,
  'id': 56520,
  'job': 'Screenplay',
  'name': 'Greg Taylor',
  'profile_path': None},
 {'credit_id': '52fe44bfc3a36847f80a7c95',
  'department': 'Writing',
  'gender': 2,
  'id': 56521,
  'job': 'Screenplay',
  'name': 'Jim Strain',
  'profile_path': None}]

AttributeError: 'NoneType' object has no attribute 'head'

In [42]:
data_dict[1]['name']

'Tim Allen'

In [48]:
#df["budget"].sort_values()
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [54]:
df[df['id'] == '141971']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
13261,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,2008-12-26,0.0,108.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
13375,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,2008-12-26,0.0,108.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
16764,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,2008-12-26,0.0,108.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0

In [49]:
df.sort_values(by='id')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
2429,False,NaN,1350000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",http://www.universalstudiosentertainment.com/l...,100,tt0120735,en,"Lock, Stock and Two Smoking Barrels",A card sharp and his unwillingly-enlisted frie...,...,1998-03-05,3.897569e+06,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Disgrace to Criminals Everywhere.,"Lock, Stock and Two Smoking Barrels",False,7.5,1671.0
13609,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,10000,tt0109747,es,La estrategia del caracol,A group of tenants living in an old house are ...,...,1993-12-25,0.000000e+00,116.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,La estrategia del caracol,False,7.2,9.0
4435,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 878, 'na...",NaN,10001,tt0096486,en,Young Einstein,Albert Einstein is the son of a Tasmanian appl...,...,1988-12-15,0.000000e+00,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,E=mc²,Young Einstein,False,4.5,46.0
17451,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",NaN,100010,tt0032477,en,Flight Command,"A rookie flyer, Ens. Alan Drake, joins the fam...",...,1940-12-27,0.000000e+00,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"T-H-R-I-L-L AMERICA! Here come The Flying ""HEL...",Flight Command,False,6.0,1.0
36946,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,100017,tt0488903,de,Verfolgt,Deals with the obsessive relationship between ...,...,2006-08-06,0.000000e+00,87.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,Hounded,False,4.8,7.0
2236,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,10002,tt0091538,en,Mona Lisa,"George has just been released from prison, and...",...,1986-06-13,5.794184e+06,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Mona Lisa,False,6.7,62.0
32542,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,100024,tt1562567,en,Bloodwork,A couple of college students decide to sign up...,...,2012-05-10,0.000000e+00,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Not Dying Doesn't Mean You're Alive,Bloodwork,False,4.3,13.0
1420,False,"{'id': 86224, 'name': 'The Saint Collection', ...",68000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,10003,tt0120053,en,The Saint,"Ivan Tretiak, Russian Mafia boss who wants to ...",...,1997-04-03,1.180633e+08,116.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Never reveal your name. Never turn your back. ...,The Saint,False,5.9,310.0
28295,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,100032,tt0099137,en,The Great Los Angeles Earthquake,After a series of small tremors in Los Angeles...,...,1990-11-11,0.000000e+00,180.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"There is no safe harbor, there is no escape......",The Great Los Angeles Earthquake,False,6.8,5.0
17802,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,100033,tt0027307,ja,有りがたうさん,Japanese film about a friendly bus driver and ...,...,1936-02-27,0.000000e+00,78.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Mr. Thank You,False,6.9,7.0
11821,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,10004,tt0129871,en,Desperation,"When a sheriff arrests a writer, a family, a c...",...,2006-05-23,0.000000e+00,131.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In this town, there are no accidents.",Desperation,False,5.2,45.0
24939,False,"{'id': 96665, 'name': 'Dumb and Dumber Collect...",40000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,100042,tt2096672,en,Dumb and Dumber To,20 years after the dimwits set out on their fi...,...,2014-11-12,1.698370e+08,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Second Parts Are More Fools,Dumb and Dumber To,False,5.4,1140.0
19110,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,100046,tt1769363,en,The Giant Mechanical Man,An offbeat romantic comedy about a silver-pain...,...,2012-04-27,0.000000e+00,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Giant Mechanical Man,False,6.1,54.0
17977,False,"{'id': 98513, 'name': 'Behind Enemy Lines Coll...",0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.foxhome.com/behindenemylinesiiaxiso...,10005,tt0497329,en,Behind Enemy Lines II: Axis of Evil,"Navy SEALS, headed by Lt. Bobby James, are dis...",...,2006-10-17,0.000000e+00,96.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The fate of the world hangs in the balance in ...,Behind Enemy Lines II: Axis of Evil,False,4.5,31.0
30802,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://americananimalmovie.com/,100057,tt1670932,en,American Animal,When Jimmy (Matt D'Elia) finds out his best fr...,...,2012-05-18,0.000000e+00,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some of us evolve slower than others.,American Animal,False,5.2,6.0
21823,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,10006,tt0464320,en,Wild Seven,"In this darkly karmic vision of Arizona, a man...",...,2006-01-01,0.000000e+00,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No Plan is perfect,Wild Seven,False,3.8,6.0
31276,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",NaN,100061,tt1198220,ps,بپي شير,In the Pakistani tribal village of Darra Adam ...,...,2007-10-06,0.000000e+00,92.0,"[{'iso_639_1': 'ps', 'name': 'پښتو'}]",Released,NaN,Son of a Lion,False,6.0,1.0
22682,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,100063,tt0077241,en,Blackout,A black comedy of violent criminals who terror...,...,1978-08-25,0.000000e+00,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The night the power failed.... and the shock b...,Blackout,False,5.0,1.0
11018,False,"{'id': 296872, 'name': 'See No Evil Collection...",8000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,10007,tt0437179,en,See No Evil,A group of delinquents are sent to clean the B...,...,2006-05-19,0.000000e+00,84.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,This summer. Evil gets raw.,See No Evil,False,4.8,146.0
10966,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,10008,tt0429573,en,An American Haunting,Based on the true events of the only case in U...,...,2005-05-05,0.000000e+00,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Possession Knows No Bounds,An American Haunting,False,5.3,143.0
19539,False,NaN,0,[],NaN,100085,tt0436845,en,El tren de la memoria,"Josefina's personal journey back to Nuremberg,...",...,2005-04-27,0.000000e+00,85.0,[],Released,NaN,El tren de la memoria,False,6.0,1.0
36743,False,NaN,0,[],NaN,100086,tt0357283,ur,Silent Waters,"Ayesha is a widow with a secret past, living w...",...,2003-08-15,0.000000e+00,99.0,"[{'iso_639_1': 'pa', 'name': 'ਪੰਜਾਬੀ'}, {'iso_...",Released,The Water Stirs,Silent Waters,False,7.0,2.0
23646,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,100088,tt0068281,en,Black Gunn,A successful and popular nightclub owner who b...,...,1972-12-20,0.000000e+00,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,For every drop of black blood spilled...A whit...,Black Gunn,False,5.0,1.0
20751,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 27, '...",NaN,100089,tt2130142,en,Nazis at the Center of the Earth,A group of researchers in Antarctica are abduc...,...,2012-04-23,0.000000e+00,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Dead...but not gone,Nazis at the Center of the Earth,False,3.2,38.0
6740,False,"{'id': 96472, 'name': 'Brother Bear Collection...",100000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://movies.disney.com/brother-bear,10009,tt0328880,en,Brother Bear,When an impulsive boy named Kenai is magically...,...,2003-10-23,0.000000e+00,85.0,"[{'iso_639_1': 'hr', 'name': 'Hrvatski'}, {'is...",Released,Nature Calls,Brother Bear,False,6.9,1410.0
29030,False,"{'id': 96472, 'name': 'Brother Bear Collection...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://movies.disney.com/brother-bear-2,10010,tt0465925,en,Brother Bear 2,Kenai finds his childhood human friend Nita an...,...,2006-08-17,0.000000e+00,73.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Brother Bear 2,False,6.3,318.0
17002,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,10011,tt0402743,en,Abominable,"A man, crippled in an accident, returns to the...",...,2006-04-10,0.000000e+00,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Abominable,False,4.7,21.0
25290,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,100110,tt0098415,en,Survival Quest,A bunch of city slickers from different backgr...,...,1988-09-09,0.000000e+00,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Survival Quest,False,5.8,4.0
9763,False,NaN,35000000,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",NaN,10012,tt0257516,en,Cursed,A werewolf loose in Los Angeles changes the li...,...,2005-02-25,1.929490e+07,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What doesn't kill you makes you stronger.,Cursed,False,5.1,168.0
14538,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,100122,tt0242285,es,El arte de morir,"In Spain a young artist has gone missing, and ...",...,2000-05-31,0.000000e+00,102.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,The Art of Dying,False,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11444,False,NaN,85000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,9986,tt0413895,en,Charlotte's Web,Wilbur the pig is scared of the end of the sea...,...,2006-12-15,1.440000e+08,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Something unexpected, unbelievable, unforgetta...",Charlotte's Web,False,5.8,300.0
26558,False,"{'id': 86311, 'name': 'The Avengers Collection...",280000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,tt2395427,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,...,2015-04-22,1.405404e+09,141.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A New Age Has Come.,Avengers: Age of Ultron,False,7.3,6908.0
32564,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,99863,tt0032476,en,Flight Angels,Federal Airlines ace pilot Chick Faber is grou...,...,1940-05-18,0.000000e+00,74.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Women Are TOUGH Angels... They Can Handle Anyt...,Flight Angels,False,0.0,0.0
33124,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,9987,tt0417745,en,Headspace,A man (Christopher Denham) must use his newfou...,...,2005-01-01,0.000000e+00,89.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Headspace,False,4.9,12.0
14470,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,99875,tt0018523,fr,Un chapeau de paille d'Italie,"On the day of Fadinard's wedding, his horse ea...",...,1928-01-13,0.000000e+00,105.0,[],Released,NaN,The Italian Straw Hat,False,6.0,2.0
20230,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 99, 'name...",http://www.whatruwaitingfor.com,99877,tt1618399,en,The Waiting Room,The Waiting Room is a character-driven documen...,...,2012-09-26,0.000000e+00,0.0,[],Released,"One Hospital, Hundreds of stories",The Waiting Room,False,7.2,9.0
25265,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,99879,tt2215113,fr,Hiver Nomade,"Pascal, 53, and Carole, 28, are shepherds. In ...",...,2012-02-10,0.000000e+00,90.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Winter Nomads,False,8.0,3.0
11207,False,NaN,17500000,"[{'id': 35, 'name': 'Comedy'}]",NaN,9988,tt0486551,en,Beerfest,During a trip to Germany to scatter their gran...,...,2006-08-25,1.917997e+07,110.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Prepare for the ultimate chug of war.,Beerfest,False,5.8,173.0
22227,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}]",http://www.cccke.be,99880,tt1810798,en,L'hiver dernier,A young farmer in Central France tries to sust...,...,2012-02-29,0.000000e+00,103.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Last Winter,False,5.5,4.0
31342,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,99883,tt0053724,es,El cochecito,El Cochecito is a 1960 Spanish black comedy fi...,...,1960-11-03,0.000000e+00,85.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,The Wheelchair,False,7.1,8.0
5879,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,99885,tt0979876,en,Divine Intervention,Four friends fight an insane man's crusade to ...,...,NaN,0.000000e+00,87.0,[],Released,His Judgement Cometh...,Divine Intervention,False,0.0,0.0
3926,False,NaN,30000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://www.antitrustthemovie.com/,9989,tt0218817,en,Antitrust,A computer programmer's dream job at a hot Por...,...,2001-01-12,1.819561e+07,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Truth can be dangerous...Trust can be deadly.,Antitrust,False,5.8,156.0
41008,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,99896,tt0462242,es,El custodio,A bodyguard of a top politician is so dedicate...,...,2007-04-04,0.000000e+00,95.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,The Custodian,False,6.3,4.0
8486,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",NaN,99898,tt0046040,en,Man on a Tightrope,Elia Kazan's 1953 film stars Fredric March as ...,...,1953-04-01,0.000000e+00,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Man on a Tightrope,False,5.3,6.0
43800,False,"{'id': 299748, 'name': 'Walking Tall Collectio...",0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,9990,tt0804551,en,Walking Tall: Lone Justice,"In Dallas, witnesses against a drug-lord are m...",...,2007-09-25,0.000000e+00,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Walking Tall: Lone Justice,False,5.2,10.0
30309,False,NaN,0,[],NaN,99904,tt1466069,en,The Prospects,In Brooklyn live two young street musicians wh...,...,2011-03-22,0.000000e+00,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Prospects,False,1.0,1.0
28674,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,99909,tt0031045,en,The Angels Wash Their Faces,A young man just released from a reformatory m...,...,1939-08-26,0.000000e+00,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Angels Wash Their Faces,False,5.0,1.0
5003,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9991,tt0291341,en,Mean Machine,Disgraced ex-England captain (Danny 'Mean Mach...,...,2001-12-26,0.000000e+00,99.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"It's Not Just About Football, It's About Pride...",Mean Machine,False,6.1,158.0
30383,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,99916,tt0136416,it,I Motorizzati,A guy is about to become the millionth citizen...,...,1962-11-29,0.000000e+00,91.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,I Motorizzati,False,6.0,1.0
11500,False,"{'id': 85817, 'name': 'Arthur and the Invisibl...",86000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,9992,tt0344854,en,Arthur et les Minimoys,Arthur is a spirited ten-year old whose parent...,...,2006-12-13,1.079442e+08,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Adventure awaits in your own backyard.,Arthur and the Invisibles,False,6.0,663.0
16981,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",NaN,99920,tt0031173,en,Confessions of a Nazi Spy,FBI agent Ed Renard investigates the pre-War e...,...,1939-05-06,0.000000e+00,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Trapped!,Confessions of a Nazi Spy,False,5.3,6.0
25210,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,99922,tt0021799,en,Dirigible,Dirigible commander Jack Braden and Navy pilot...,...,1931-04-04,0.000000e+00,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dirigible,False,0.0,1.0
10490,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,9993,tt0382810,en,Little Fish,Set in the Little Saigon district outside of S...,...,2005-07-19,0.000000e+00,114.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The past is right here,Little Fish,False,5.9,25.0
19150,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,99934,tt0019886,en,The Flying Fleet,Six friends are to graduate the next day from ...,...,1929-01-19,0.000000e+00,100.0,[],Released,NaN,The Flying Fleet,False,0.0,0.0
1939,False,NaN,14000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 16, 'nam...",http://movies.disney.com/the-great-mouse-detec...,9994,tt0091149,en,The Great Mouse Detective,When the diabolical Professor Ratigan kidnaps ...,...,1986-07-02,3.862555e+07,74.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,London's crime-fighting ace on his most baffli...,The Great Mouse Detective,False,6.9,334.0
25652,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,99946,tt0016832,en,Exit Smiling,Beatrice Lillie and Jack Pickford star in this...,...,1926-11-06,0.000000e+00,77.0,[],Released,NaN,Exit Smiling,False,8.5,2.0
3767,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,9995,tt0216772,en,Turn It Up,Trying to bootstrap his way out of Brooklyn's ...,...,2000-09-06,0.000000e+00,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,How you gonna win?,Turn It Up,False,5.0,5.0
12549,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",NaN,9997,tt0857376,ab,Gabriel,Gabriel tells the story of an archangel who fi...,...,2007-11-15,0.000000e+00,109.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Far From Grace,Gabriel,False,5.0,77.0
25079,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,99977,tt0079308,en,Hot Stuff,When a police department's burglary task force...,...,1979-08-10,0.000000e+00,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You can't turn this mob over to the cops. They...,Hot Stuff,False,7.8,6.0
13106,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://www.derfreiewille.com/,9999,tt0499101,de,Der freie Wille,After nine years in psychiatric detention Theo...,...,2006-08-23,0.000000e+00,163.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,The Free Will,False,6.6,11.0

In [25]:
from sklearn.preprocessing import OneHotEncoder

In [26]:
encoder = OneHotEncoder()

In [ ]:
df