In [31]:
import pandas as pd
import ast
from pprint import pprint
from sklearn.ensemble import RandomForestClassifier

In [32]:
df = pd.read_csv("movies_metadata.csv")
df2 = pd.read_csv("credits.csv")
df2.head()

/Users/joaoalmeida/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [33]:
atores = []
for e in range(0,len(df2["cast"])):
        data_dict = ast.literal_eval(df2["cast"][e])
        for palavras in data_dict:
            atores.append(palavras['name'])
# #atores
# df_atores = pd.DataFrame(atores)
# #df_atores.head()
# df_atores[0].value_counts().head()

atores

['Tom Hanks',
 'Tim Allen',
 'Don Rickles',
 'Jim Varney',
 'Wallace Shawn',
 'John Ratzenberger',
 'Annie Potts',
 'John Morris',
 'Erik von Detten',
 'Laurie Metcalf',
 'R. Lee Ermey',
 'Sarah Freeman',
 'Penn Jillette',
 'Robin Williams',
 'Jonathan Hyde',
 'Kirsten Dunst',
 'Bradley Pierce',
 'Bonnie Hunt',
 'Bebe Neuwirth',
 'David Alan Grier',
 'Patricia Clarkson',
 'Adam Hann-Byrd',
 'Laura Bell Bundy',
 'James Handy',
 'Gillian Barber',
 'Brandon Obray',
 'Cyrus Thiedeke',
 'Gary Joseph Thorup',
 'Leonard Zola',
 'Lloyd Berry',
 'Malcolm Stewart',
 'Annabel Kershaw',
 'Darryl Henriques',
 'Robyn Driscoll',
 'Peter Bryant',
 'Sarah Gilson',
 'Florica Vlad',
 'June Lion',
 'Brenda Lockmuller',
 'Walter Matthau',
 'Jack Lemmon',
 'Ann-Margret',
 'Sophia Loren',
 'Daryl Hannah',
 'Burgess Meredith',
 'Kevin Pollak',
 'Whitney Houston',
 'Angela Bassett',
 'Loretta Devine',
 'Lela Rochon',
 'Gregory Hines',
 'Dennis Haysbert',
 'Michael Beach',
 'Mykelti Williamson',
 'Lamont Johnson',
 'Wesley Snipes',
 'Steve Martin',
 'Diane Keaton',
 'Martin Short',
 'Kimberly Williams-Paisley',
 'George Newbern',
 'Kieran Culkin',
 'BD Wong',
 'Peter Michael Goetz',
 'Kate McGregor-Stewart',
 'Jane Adams',
 'Eugene Levy',
 'Lori Alan',
 'Al Pacino',
 'Robert De Niro',
 'Val Kilmer',
 'Jon Voight',
 'Tom Sizemore',
 'Diane Venora',
 'Amy Brenneman',
 'Ashley Judd',
 'Mykelti Williamson',
 'Natalie Portman',
 'Ted Levine',
 'Tom Noonan',
 'Tone Loc',
 'Hank Azaria',
 'Wes Studi',
 'Dennis Haysbert',
 'Danny Trejo',
 'Henry Rollins',
 'William Fichtner',
 'Kevin Gage',
 'Susan Traylor',
 'Jerry Trimble',
 'Ricky Harris',
 'Jeremy Piven',
 'Xander Berkeley',
 'Begonya Plaza',
 'Rick Avery',
 'Hazelle Goodman',
 'Ray Buktenica',
 'Max Daniels',
 'Vince Deadrick Jr.',
 'Steven Ford',
 'Farrah Forke',
 'Patricia Healy',
 'Paul Herman',
 'Cindy Katz',
 'Brian Libby',
 'Dan Martin',
 'Mario Roberts',
 'Thomas Rosales, Jr.',
 'Yvonne Zima',
 'Mick Gould',
 'Bud Cort',
 'Viviane Vives',
 'Kim Staunton',
 'Martin Ferrero',
 'Brad Baldridge',
 'Andrew Camuccio',
 'Kenny Endoso',
 'Kimberly Flynn',
 'Niki Harris',
 'Bill McIntosh',
 'Rick Marzan',
 'Terry Miller',
 "Daniel O'Haco",
 'Kai Soremekun',
 'Peter Blackwell',
 'Trevor Coppola',
 'Mary Kircher',
 'Darin Mangan',
 'Robert Miranda',
 'Manny Perry',
 'Iva Franks Singer',
 'Tim Werner',
 'Philip Ettington',
 'Harrison Ford',
 'Julia Ormond',
 'Greg Kinnear',
 'Angie Dickinson',
 'Nancy Marchand',
 'John Wood',
 'Richard Crenna',
 'Lauren Holly',
 'Dana Ivey',
 'Fanny Ardant',
 'Patrick Bruel',
 'Paul Giamatti',
 'Miriam Colón',
 'Elizabeth Franz',
 'Valérie Lemercier',
 'Becky Ann Baker',
 'John C. Vennema',
 'Margo Martindale',
 'J. Smith-Cameron',
 'Christine Luneau-Lipton',
 'Michael Dees',
 'Denis Holmes',
 'Jo-Jo Lowe',
 'Ira Wheeler',
 'Philippa Cooper',
 'Ayako Kawahara',
 'François Genty',
 'Guillaume Gallienne',
 'Inés Sastre',
 'Phina Oruche',
 'Andrea Behalikova',
 'Jennifer Herrera',
 'Kristina Kumlin',
 'Eva Linderholm',
 'Carmen Chaplin',
 'Micheline Van de Velde',
 'Joanna Rhodes',
 'Alan Boone',
 'Patrick Forster-Delmas',
 'Kentaro Matsuo',
 'Peter McKernan',
 'Ed Connelly',
 'Ronald L. Schwary',
 'Alvin Lum',
 'Siching Song',
 'Phil Nee',
 'Randy Becker',
 'Susan Browning',
 'Anthony Mondal',
 'Peter Parks',
 'Woodrow Asai',
 'Eric Bruno Borgman',
 'Michael Cline',
 'Christopher Del Gaudio',
 'Philippe Hartmann',
 'Jerry Quinn',
 'Dori Rosenthal',
 'Jonathan Taylor Thomas',
 'Brad Renfro',
 'Rachael Leigh Cook',
 'Michael McShane',
 'Amy Wright',
 'Eric Schweig',
 'Tamara Mello',
 'Jean-Claude Van Damme',
 'Powers Boothe',
 'Dorian Harewood',
 'Raymond J. Barry',
 'Ross Malinger',
 'Whittni Wright',
 'Pierce Brosnan',
 'Sean Bean',
 'Izabella Scorupco',
 'Famke Janssen',
 'Joe Don Baker',
 'Judi Dench',
 'Gottfried John',
 'Robbie Coltrane',
 'Alan Cumming',
 'Tchéky Karyo',
 'Desmond Llewelyn',
 'Samantha Bond',
 'Michael Kitchen',
 'Serena Gordon',
 'Simon Kunz',
 'Billy J. Mitchell',
 'Constantine Gregory',
 'Minnie Driver',
 'Michelle Arthur',
 'Ravil Isyanov',
 'Michael Douglas',
 'Annette Bening',
 'Michael J. Fox',
 'Martin Sheen',
 'Anna Deavere Smith',
 'Shawna Waldron',
 'Samantha Mathis',
 'David Paymer',
 'Richard Dreyfuss',
 'Nina Siemaszko',
 'Wendie Malick',
 'Beau Billingslea',
 'Gail Strickland',
 'Joshua Malina',
 'Clement von Franckenstein',
 'John Mahoney',
 'John Mahon',
 'Gabriel Jarret',
 'Leslie Nielsen',
 'Mel Brooks',
 'Amy Yasbeck',
 'Peter MacNicol',
 'Lysette Anthony',
 'Harvey Korman',
 'Steven Weber',
 'Mark Blankfield',
 'Megan Cavanagh',
 'Gregg Binkley',
 'Anne Bancroft',
 'Kevin Bacon',
 'Bob Hoskins',
 'Bridget Fonda',
 'Jim Cummings',
 'Phil Collins',
 'Juliette Brewer',
 'Jack Angel',
 'Danny Mann',
 'Robbie Rist',
 'Sandra Dickinson',
 'Frank Welker',
 'Miriam Margolyes',
 'Lola Bates-Campbell',
 'Anthony Hopkins',
 'Joan Allen',
 'Powers Boothe',
 'Ed Harris',
 'Bob Hoskins',
 'E.G. Marshall',
 'David Paymer',
 'David Hyde Pierce',
 'Paul Sorvino',
 'Mary Steenburgen',
 'J.T. Walsh',
 'James Woods',
 'Brian Bedford',
 'Kevin Dunn',
 'Fyvush Finkel',
 'Annabeth Gish',
 'Larry Hagman',
 'Madeline Kahn',
 'Dan Hedaya',
 'Bridgette Wilson',
 'Tom Bower',
 'Tony Goldwyn',
 'Edward Herrmann',
 'Tony Lo Bianco',
 'Saul Rubinek',
 'Robert Beltran',
 'John Cunningham',
 'John Diehl',
 'John C. McGinley',
 'Michael Chiklis',
 'Ric Young',
 'Boris Sichkin',
 'Sam Waterston',
 'Marley Shelton',
 'Geena Davis',
 'Matthew Modine',
 'Frank Langella',
 'Maury Chaykin',
 'Patrick Malahide',
 'Stan Shaw',
 'Rex Linn',
 'Paul Dillon',
 'Christopher Masterson',
 'Jimmie F. Skaggs',
 'Harris Yulin',
 'Carl Chase',
 'Peter Geeves',
 'Angus Wright',
 'Ken Bones',
 'Mary Peach',
 'Thomas Lockyer',
 'Roger Booth',
 'George Murcell',
 'Simon Atherton',
 'Dickey Beer',
 'Christopher Halliday',
 'Chris Johnston',
 'Richard Leaf',
 'Tam White',
 'Rupert Vansittart',
 'Nick Bartlett',
 'David Bailie',
 'Kwame Kwei-Armah',
 'Ramon Tikaram',
 'Christopher Adamson',
 'Robert De Niro',
 'Sharon Stone',
 'Joe Pesci',
 'James Woods',
 'Don Rickles',
 'Alan King',
 'Kevin Pollak',
 'Pasquale Cajano',
 'L.Q. Jones',
 'Dick Smothers',
 'Frank Vincent',
 'Oscar Goodman',
 'Richard Riehle',
 'Catherine Scorsese',
 'Vinny Vella',
 'Nobu Matsuhisa',
 'Erika von Tagen',
 'Nick Mazzola',
 'David Rose',
 'John Bloom',
 'Joseph Rigano',
 'Philip Suriano',
 'Melissa Prophet',
 'Bill Allison',
 'Joe La Due',
 'Joseph P. Reidy',
 'Craig Vincent',
 'Carl Ciarfalio',
 'Gene Ruffini',
 'Dominick Grieco',
 'Clem Caserta',
 'Daniel P. Conte',
 'Joey DePinto',
 'Jack Orend',
 'Paul Herman',
 'Jed Mills',
 'Claudia Haro',
 'Ffolliott Le Coque',
 'John Manca',
 'Ronald Maccone',
 'Joseph Bono',
 'Frank Adonis',
 'Anthony Russell',
 'Stuart Nisbet',
 'Alfred Nittoli',
 'Kate Winslet',
 'Emma Thompson',
 'Hugh Grant',
 'Tom Wilkinson',
 'Alan Rickman',
 'Imogen Stubbs',
 'Greg Wise',
 'Hugh Laurie',
 'Imelda Staunton',
 'Robert Hardy',
 'Oliver Ford Davies',
 'James Fleet',
 'Harriet Walter',
 'Gemma Jones',
 'Emilie François',
 'Elizabeth Spriggs',
 'Richard Lumsden',
 'Tim Roth',
 'Antonio Banderas',
 'Jennifer Beals',
 'Madonna',
 'Marisa Tomei',
 'Bruce Willis',
 'Quentin Tarantino',
 'Sammi Davis',
 'Amanda de Cadenet',
 'Valeria Golino',
 'Lili Taylor',
 'Lawrence Bender',
 'Ione Skye',
 'Alicia Witt',
 'David Proval',
 'Lana McKissack',
 'Tamlyn Tomita',
 'Kathy Griffin',
 'Paul Calderon',
 'Salma Hayek',
 'Patricia Vonne',
 'Danny Verduzco',
 'Kimberly Blair',
 'Marc Lawrence',
 'Jim Carrey',
 'Ian McNeice',
 'Simon Callow',
 'Maynard Eziashi',
 'Bob Gunton',
 'Sophie Okonedo',
 'Tommy Davidson',
 'Adewale Akinnuoye-Agbaje',
 'Danny D. Daniels',
 'Sam Motoana Phillips',
 'Damon Standifer',
 'Andrew Steel',
 'Bruce Spence',
 'Tom Grunke',
 "Arsenio 'Sonny' Trinidad",
 'Wesley Snipes',
 'Woody Harrelson',
 'Jennifer Lopez',
 'Robert Blake',
 'Chris Cooper',
 'Joe Grifasi',
 'Scott Sowers',
 'Skipp Sudduth',
 'Aida Turturro',
 'Vincent Pastore',
 'Enrico Colantoni',
 'Bill Nunn',
 'Katie Gill',
 'Jeremy Roberts',
 'Joe Bacino',
 'John Travolta',
 'Gene Hackman',
 'Rene Russo',
 'Danny DeVito',
 'Dennis Farina',
 'Delroy Lindo',
 'James Gandolfini',
 'Jon Gries',
 'Renee Props',
 'David Paymer',
 'Martin Ferrero',
 'Miguel Sandoval',
 'Jacob Vargas',
 'Bobby Slayton',
 'Linda Hart',
 'Jeffrey J. Stephen',
 'Sigourney Weaver',
 'Holly Hunter',
 'Will Patton',
 'William McNamara',
 'Harry Connick Jr.',
 'J.E. Freeman',
 'Dermot Mulroney',
 'John Rothman',
 "Shannon O'Hurley",
 'Bob Greene',
 'Tony Haney',
 'Danny Kovacs',
 'Tahmus Rounds',
 'Scott Devenney',
 'David Michael Silverman',
 'Sylvester Stallone',
 'Antonio Banderas',
 'Julianne Moore',
 'Anatoli Davydov',
 'Muse Watson',
 'Steve Kahan',
 'Kelly Rowan',
 'Reed Diamond',
 'Kai Wulff',
 'Kerry Skalsky',
 'James Douglas Haskins',
 'Stephen Liska',
 'John Harms',
 'Edward J. Rosen',
 'Christina Orchid',
 'Choco Orta',
 'Germán Legarreta',
 'Mary Steenburgen',
 'Sean Patrick Flanery',
 'Lance Henriksen',
 'Jeff Goldblum',
 'Brandon Smith',
 'Nicolas Cage',
 'Elisabeth Shue',
 'Julian Sands',
 'Richard Lewis',
 'Steven Weber',
 'Kim Adams',
 'Emily Procter',
 'Stuart Reynolds ',
 'Valeria Golino',
 'Graham Beckel',
 'Mariska Hargitay',
 'Laurie Metcalf',
 'Shawnee Smith',
 'David Kriegel',
 'Laurence Fishburne',
 'Irène Jacob',
 'Kenneth Branagh',
 'Nathaniel Parker',
 'Indra Ové',
 'Michael Maloney',
 'Anna Patrick',
 'Nicholas Farrell',
 'Michael Sheen',
 'Christina Ricci',
 "Rosie O'Donnell",
 'Thora Birch',
 'Melanie Griffith',
 'Gaby Hoffmann',
 'Demi Moore',
 'Ashleigh Aston Moore',
 'Rita Wilson',
 'Walter Sparrow',
 'Devon Sawa',
 'Cloris Leachman',
 'Janeane Garofalo',
 'Hank Azaria',
 'Bonnie Hunt',
 'Lolita Davidovich',
 'Brendan Fraser',
 'Amanda Root',
 'Ciarán Hinds',
 'Susan Fleetwood',
 'Fiona Shaw',
 'John Woodvine',
 'Phoebe Nicholls',
 'Samuel West',
 'Sophie Thompson',
 'Judy Cornwell',
 'Simon Russell Beale',
 'Felicity Dean',
 'Roger Hammond',
 'Victoria Hamilton',
 'Corin Redgrave',
 'Emma Roberts',
 'Robert Glenister',
 'Richard McCabe',
 'Helen Schlesinger',
 'Jane Wood',
 'David Collings',
 'Darlene Johnson',
 'Cinnamon Faye',
 'Isaac Maxwell-Hunt',
 'Roger Llewellyn',
 'Sally George',
 'Lonnie James',
 'Ron Perlman',
 'Dominique Pinon',
 'Judith Vittet',
 'Daniel Emilfork',
 'Jean-Claude Dreyfus',
 'Geneviève Brunet',
 'Odile Mallet',
 'Mireille Mossé',
 'Serge Merlin',
 'Rufus',
 'Ticky Holgado',
 'Cris Huerta',
 'Jean-Louis Trintignant',
 'Joseph Lucien',
 'Mapi Galán',
 'Briac Barthélémy',
 'Pierre-Quentin Faesch',
 'Alexis Pivot',
 'François Hadji-Lazaro',
 'Dominique Bettenfeld',
 'Lotfi Yahya Jedidi',
 'Thierry Gibault',
 'Marc Caro',
 'Ham-Chau Luong',
 'Frankie Pain',
 'Enrique Villanueva',
 'Dominique Chevalier',
 'Lorella Cravotta',
 'Éric Houzelot',
 'Philippe Beautier',
 'Marc Amyot',
 'Jean-Philippe Labadie',
 'Raphaèle Bouchard',
 'Elisabeth Etienne',
 'Rachel Boulenger',
 'Michel Motu',
 'Nane Germon',
 'Gong Li',
 'Li Bao-Tian',
 'Wang Xiaoxiao',
 'Li Xuejian',
 'Chun Sung',
 'Fu Biao',
 'Michelle Pfeiffer',
 'George Dzundza',
 'Courtney B. Vance',
 'Robin Bartlett',
 'John Neville',
 'Beatrice Winde',
 'Lorraine Toussaint',
 'Renoly Santiago',
 'Wade Dominguez',
 'Bruklin Harris',
 'Mercello Thedford',
 'Roberto Alvarez',
 'Richard Grant',
 'Marisela Gonzales',
 'Toni Nichelle Buzhardt',
 'Bruce Willis',
 'Madeleine Stowe',
 'Brad Pitt',
 'Christopher Plummer',
 'David Morse',
 'Jon Seda',
 'Frank Gorshin',
 'Joseph Melito',
 'Aaron Michael Lacey',
 'Christopher Meloni',
 'Joey Perillo',
 'LisaGay Hamilton',
 'Matt Ross',
 'Annie Golden',
 'Michael Chance',
 'Vernon Campbell',
 'H. Michael Walls',
 'Bob Adrian',
 'Simon Jones',
 'Carol Florence',
 'Bill Raymond',
 'Ernest Abuba',
 'Irma St. Paule',
 'Rozwill Young',
 'Nell Johnson',
 'Frederick Strother',
 'Charles Techman',
 'Rick Warner',
 "Anthony 'Chip' Brienza",
 'Bruce Kirkpatrick',
 'Wilfred Williams',
 'Joilet Harris',
 'Drucie McDaniel',
 'John Blaisse',
 'Louis Lippa',
 'Stan Kang',
 'Pat Dias',
 'Felix Pire',
 'Karl Warren',
 'Joseph McKenna',
 'Stephen Bridgewater',
 'Ray Huffman',
 'Charley Scalies',
 "Robert O'Neill",
 'Paul Meshejian',
 'Kevin Thigpen',
 "Harry O'Toole",
 'Jann Ellis',
 'Michael Ryan Segal',
 'Korchenko',
 'Chuck Jeffreys',
 'Barry Price',
 'John Panzarella',
 'Janet Zappala',
 'Lisa Talerico',
 'Tiffany Baldwin',
 'C.J. Byrnes',
 'Tom Detrik',
 'Joe Gerety',
 'Renee Spei',
 'Bonnie Loev',
 'Raymond Mamrak',
 'Sal Mazzotta',
 'Allelon Ruggiero',
 'Thang',
 'Craig Sheffer',
 'Elizabeth McGovern',
 'Tom Hulce',
 'Ken Pogue',
 'Ron Sauvé',
 'Val Kilmer',
 'Freddy Andreiuci',
 'Christine Cavanaugh',
 'Miriam Margolyes',
 'Danny Mann',
 'Hugo Weaving',
 'Miriam Flynn',
 'James Cromwell',
 'Russi Taylor',
 'Evelyn Krape',
 'Michael Edward-Stevens',
 'Charles Bartlett',
 'Paul Livingston',
 'Roscoe Lee Browne',
 'Magda Szubanski',
 'Zoe Burton',
 'Paul Goddard',
 'Wade Hayward',
 'Brittany Byrnes',
 'Mary Acres',
 'Emma Thompson',
 'Jonathan Pryce',
 'Steven Waddington',
 'Samuel West',
 'Rufus Sewell',
 'Penelope Wilton',
 'Janet McTeer',
 'Jeremy Northam',
 'Alex Kingston',
 'Richard Clifford',
 'David Ryall',
 'Stephen Boxer',
 'Susan Sarandon',
 'Sean Penn',
 'Robert Prosky',
 'Raymond J. Barry',
 'R. Lee Ermey',
 'Celia Weston',
 'Lois Smith',
 'Scott Wilson',
 'Roberta Maxwell',
 'Margo Martindale',
 'Jack Black',
 'Ray Aranha',
 'Peter Sarsgaard',
 'Barton Heyman',
 'Steve Boles',
 'Nesbitt Blaisdell',
 'Larry Pine',
 'Kevin Cooney',
 'Clancy Brown',
 'Michael Cullen',
 'Missy Yager',
 'Jenny Krochmal',
 'Jon Abrahams',
 'Arthur Bridgers',
 'Steve Carlisle',
 'Eva Amurri Martino',
 'Jack Henry Robbins',
 'Dennis Neal',
 'Molly Bryant',
 'Adele Robbins',
 'Pete Burris',
 'Joan Glover',
 'Lenore Banks',
 'Scott Sowers',
 'Cortez Nance Jr.',
 'Adam Nelson',
 'Jeremy Knaster',
 'Marcus Lyle Brown',
 'Anthony Michael Frederick',
 'Thomas McGowan',
 'Codie Scott',
 'Helen Prejean',
 'Peter Reznick',
 'John McDonough',
 'Avi Hoffman',
 'Matt Malloy',
 'Abby Lewis',
 'Kirstie Alley',
 'Steve Guttenberg',
 'Ashley Olsen',
 'Mary-Kate Olsen',
 'Jane Sibbett',
 'Philip Bosco',
 'Michelle Grisom',
 'Desmond Robertson',
 'Tiny Mills',
 'Shanelle Henry',
 'Michèle Lonsdale Smith',
 'Sean Orr',
 'Elizabeth Walsh',
 'Alicia Silverstone',
 'Stacey Dash',
 'Brittany Murphy',
 'Paul Rudd',
 'Donald Faison',
 'Elisa Donovan',
 'Breckin Meyer',
 'Jeremy Sisto',
 'Dan Hedaya',
 'Wallace Shawn',
 'Twink Caplan',
 'Justin Walker',
 'Julie Brown',
 'Nicole Bilderback',
 'James Earl Jones',
 'Charles S. Dutton',
 'Jack Robinson',
 'Tsholofelo Wechoemang',
 'Ramalao Makhene',
 'Richard Harris',
 'Dolly Rathebe',
 'Jennifer Steyn',
 'Ian Roberts',
 'David Clatworthy',
 'Ian McKellen',
 'Annette Bening',
 'Jim Broadbent',
 'Kristin Scott Thomas',
 'Adrian Dunbar',
 'Maggie Smith',
 'Tim McInnerny',
 'Robert Downey Jr.',
 'Edward Hardwicke',
 'Nigel Hawthorne',
 'Jim Carter',
 'Dominic West',
 'John Wood',
 'Roger Hammond',
 'Bill Paterson',
 'Donald Sumpter',
 'James Dreyfus',
 'Derek Lyons',
 'Larenz Tate',
 'Keith David',
 'Chris Tucker',
 'Freddy Rodríguez',
 'Rose Jackson',
 "N'Bushe Wright",
 'Clifton Powell',
 'Terrence Howard',
 'Bokeem Woodbine',
 'Sticky Fingaz',
 'Clifton Collins Jr',
 'Elizabeth Rodriguez',
 'Michael Imperioli',
 'Robert Downey Jr.',
 'Meg Ryan',
 'Sam Neill',
 'David Thewlis',
 'Hugh Grant',
 'Polly Walker',
 'Ian McKellen',
 'Ian McDiarmid',
 'Mary MacLeod',
 'Willie Ross',
 'Christopher Lambert',
 'Robin Shou',
 'Linden Ashby',
 'Cary-Hiroyuki Tagawa',
 'Bridgette Wilson',
 'Talisa Soto',
 'Trevor Goddard',
 'Chris Casamassa',
 'François Petit',
 'Keith Cooke',
 'Ed Boon',
 'Nicole Kidman',
 'Matt Dillon',
 'Joaquin Phoenix',
 'Casey Affleck',
 'Illeana Douglas',
 'Alison Folland',
 'Dan Hedaya',
 'Wayne Knight',
 'David Cronenberg',
 'Kurtwood Smith',
 'Holland Taylor',
 'Susan Traylor',
 'Maria Tucci',
 'Tim Hopper',
 'Winona Ryder',
 'Anne Bancroft',
 'Ellen Burstyn',
 'Kate Nelligan',
 'Jean Simmons',
 'Maya Angelou',
 'Alfre Woodard',
 'Dermot Mulroney',
 'Lois Smith',
 'Kate Capshaw',
 'Rip Torn',
 'Johnathon Schaech',
 'Samantha Mathis',
 'Joanna Going',
 'Esther Rolle',
 'Jared Leto',
 'Claire Danes',
 'Lecy Goranson',
 'Holland Taylor',
 'Tim Guinee',
 "Derrick O'Connor",
 'Loren Dean',
 'Melinda Dillon',
 'Richard Jenkins',
 'Denis Arndt',
 'Adam Baldwin',
 'Michael McElroy',
 'Ari Meyers',
 'Jane Alden',
 'Tamala Jones',
 "Rae'Ven Larrymore Kelly",
 'Alicia Goranson',
 'Will Estes',
 'Mykelti Williamson',
 'Brad Pitt',
 'Morgan Freeman',
 'Gwyneth Paltrow',
 'John C. McGinley',
 'Kevin Spacey',
 'R. Lee Ermey',
 'Richard Roundtree',
 'Richard Schiff',
 'Julie Araskog',
 'Mark Boone Junior',
 'John Cassini',
 'Reg E. Cathey',
 'Peter Crombie',
 'Hawthorne James',
 'Michael Massee',
 'Leland Orser',
 'Richard Portnow',
 'Daniel Zacapa',
 'Alfonso Freeman',
 'Harris Savides',
 'Andrew Kevin Walker',
 'Richmond Arquette',
 'Pamala Tyson',
 'Emily Wagner',
 'Shannon Wilcox',
 'George Christy',
 'Endre Hules',
 'William Davidson',
 'Bob Collins',
 'Dominique Jennings',
 'Allan Kolman',
 'Gene Borkan',
 'Mario Di Donato',
 'Harrison White',
 'Bob Stephenson',
 'Michael Reid MacKay',
 'Lennie Loftin',
 'Martin Serene',
 'David Correia',
 'Lexie Bigham',
 'Evan Mirand',
 'Paul Eckstein',
 'Rachel Flanagan',
 'Heidi Schanz',
 'Brian Evers',
 'James Deeth',
 'Charles A. Tamburro',
 'Charles S. Dutton',
 'Arthur Max',
 'Irene Bedard',
 'Mel Gibson',
 'David Ogden Stiers',
 'John Kassir',
 'Russell Means',
 'Christian Bale',
 'Judy Kuhn',
 'Linda Hunt',
 'Danny Mann',
 'Billy Connolly',
 'Joe Baker',
 'Frank Welker',
 'Michelle St. John',
 'James Apaumut Fall',
 'Gordon Tootoosis',
 'Jim Cummings',
 'Pascale Bussières',
 'Rachael Crawford',
 'Henry Czerny',
 'Don McKellar',
 'Stephen Baldwin',
 'Gabriel Byrne',
 'Chazz Palminteri',
 'Kevin Pollak',
 'Pete Postlethwaite',
 'Kevin Spacey',
 'Suzy Amis',
 'Giancarlo Esposito',
 'Benicio del Toro',
 'Dan Hedaya',
 'Paul Bartel',
 'Carl Bressler',
 'Christine Estabrook',
 'Clark Gregg',
 'Morgan Hunter',
 'Louis Lombardi',
 'Frank Medrano',
 'Ron Gilbert',
 'Cynthia Rothrock',
 'Marshall R. Teague',
 'Daniel McVicar',
 'Lydie Denier',
 "John O'Leary",
 ...]

In [34]:
#pprint(data_dict)

In [35]:
# data_dict[1]['name']

In [36]:
df['original_title'].head()

0                      Toy Story
1                        Jumanji
2               Grumpier Old Men
3              Waiting to Exhale
4    Father of the Bride Part II
Name: original_title, dtype: object

In [37]:
df.drop_duplicates(subset ="original_title", 
                     keep = 'first', inplace = True) 
df["original_title"].value_counts().value_counts()

1    43373
Name: original_title, dtype: int64

In [47]:
df['bilhao'] = df.revenue > 1e9
df.revenue

0        373554033.0
1        262797249.0
2                0.0
3         81452156.0
4         76578911.0
5        187436818.0
6                0.0
7                0.0
8         64350171.0
9        352194034.0
10       107879496.0
11               0.0
12        11348324.0
13        13681765.0
14        10017322.0
15       116112375.0
16       135000000.0
17         4300000.0
18       212385533.0
19        35431113.0
20       115101622.0
21               0.0
22        30303072.0
23               0.0
24        49800000.0
25               0.0
26        27400000.0
27               0.0
28         1738611.0
29               0.0
            ...
45433            0.0
45434            0.0
45435            0.0
45436            0.0
45437            0.0
45438            0.0
45439            0.0
45440            0.0
45441            0.0
45442            0.0
45443            0.0
45444            0.0
45445            0.0
45446            0.0
45447            0.0
45448            0.0
45449            0.0
45450            0.0
45451            0.0
45452            0.0
45453            0.0
45455            0.0
45456            0.0
45457            0.0
45458            0.0
45459            0.0
45461            0.0
45462            0.0
45464            0.0
45465            0.0
Name: revenue, Length: 43373, dtype: float64

In [59]:
df_0 = df[df['revenue'] > 0]
df_0

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,Fez ou não um bilhão,bilhao
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,0,False
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,0,False
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,0,False
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,0,False
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,0,False
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0,0,False
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,0,False
10,False,NaN,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0,0,False
12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423.0,0,False
13,False,NaN,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,192.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72.0,0,False
14,False,NaN,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0,0,False
15,False,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise – Las Vegas ...,...,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343.0,0,False
16,False,NaN,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364.0,0,False
17,False,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539.0,0,False
18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128.0,0,False
19,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224.0,0,False
20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but it’s nothing like show b...",Get Shorty,False,6.4,305.0,0,False
22,False,NaN,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,...,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394.0,0,False
24,False,NaN,3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,False,7.1,365.0,0,False
26,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,False,6.6,91.0,0,False
28,False,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,tt0112682,fr,La Cité des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,108.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308.0,0,False
30,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,9909,tt0112792,en,Dangerous Minds,Former Marine Louanne Johnson lands a gig teac...,...,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,She broke the rules... and changed their lives.,Dangerous Minds,False,6.4,249.0,0,False
31,False,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,tt0114746,en,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",...,129.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470.0,0,False
33,False,"{'id': 9435, 'name': 'Babe Collection', 'poste...",30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,tt0112431,en,Babe,Babe is a little pig who doesn't quite know hi...,...,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,False,6.0,756.0,0,False
35,False,NaN,11000000,"[{'id': 18, 'name': 'Drama'}]",NaN,687,tt0112818,en,Dead Man Walking,A justice drama based on a true story about a ...,...,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dead Man Walking,False,7.3,350.0,0,False
39,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,34615,tt0112749,en,"Cry, the Beloved Country",A South-African preacher goes to search for hi...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,"Cry, the Beloved Country",False,6.7,13.0,0,False
43,False,"{'id': 9818, 'name': 'Mortal Kombat Collection...",18000000,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",NaN,9312,tt0113855,en,Mortal Kombat,For nine generations an evil sorcerer has been...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nothing In This World Has Prepared You For This.,Mortal Kombat,False,5.4,452.0,0,False
44,False,NaN,20000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,577,tt0114681,en,To Die For,Susan wants to work in television and will the...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All she wanted was a little attention.,To Die For,False,6.7,177.0,0,False
45,False,NaN,10000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,11861,tt0113347,en,How To Make An American Quilt,Soon-to-be-wed graduate student Finn Dodd deve...,...,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There's beauty in the patterns of life.,How To Make An American Quilt,False,6.5,38.0,0,False
46,False,NaN,33000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",http://www.sevenmovie.com/,807,tt0114369,en,Se7en,Two homicide detectives are on a desperate hun...,...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Seven deadly sins. Seven ways to die.,Se7en,False,8.1,5915.0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44428,False,NaN,2000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,72663,tt1227165,ru,Нирвана,"Young Alisa is fed up with her life in Moscow,...",...,93.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Nirvana,False,4.7,5.0,NaN,False
44466,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,155887,tt2311182,fr,Un Prince (presque) charmant,A romantic comedy about Jean-Marc who is a con...,...,88.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,A Prince (almost) Charming,False,5.2,16.0,NaN,False
44557,False,NaN,10000000,"[{'id': 10752, 'name': 'War'}, {'id': 28, 'nam...",http://www.batalion-film.ru/,326011,tt4187590,ru,Батальонъ,"Russia, 1917, WWI. This is the story of the 1s...",...,120.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,First. Female. Immortal.,The Battalion,False,5.9,6.0,NaN,False
44580,False,NaN,5300000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,8453,tt0439662,hi,Fanaa,Zooni Ali Beg (Kajol) is a blind Kashmiri girl...,...,168.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,Destroyed in love...,Fanaa,False,6.7,53.0,NaN,False
44632,False,NaN,30000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://www.atomicblonde.com/,341013,tt2406566,en,Atomic Blonde,An undercover MI6 agent is sent to Berlin duri...,...,115.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}, {'iso...",Released,NaN,Atomic Blonde,False,6.1,748.0,NaN,False
44696,False,NaN,0,"[{'id': 28, 'name': 'Action'}]",NaN,411717,tt6201292,ta,பைரவா,A loan recovery agent takes on a corrupt head ...,...,168.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Bairavaa,False,6.5,12.0,NaN,False
44711,False,NaN,8500000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,14570,tt0089243,en,Gymkata,Johnathan Cabot is a champion gymnast. In the ...,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The skill of gymnastics, the kill of karate.",Gymkata,False,4.7,14.0,NaN,False
44791,False,NaN,8520000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,434119,tt5606538,ko,공조,When a crime organization from North Korea cro...,...,125.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Confidential Assignment,False,6.2,5.0,NaN,False
44812,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.yugioh20th.com/,366170,tt4273562,ja,遊☆戯☆王 THE DARK SIDE OF DIMENSIONS,Yugi and Kaiba have a special duel that transc...,...,120.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,Back to The Stage of Battle,Yu-Gi-Oh!: The Dark Side of Dimensions,False,6.8,29.0,NaN,False
44818,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.coltranefilm.com,411012,tt4287434,en,Chasing Trane,The film explores the global power and impact ...,...,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The John Coltrane Documentary,Chasing Trane,False,8.0,2.0,NaN,False
44842,False,"{'id': 8650, 'name': 'Transformers Collection'...",260000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,335988,tt3371366,en,Transformers: The Last Knight,"Autobots and Decepticons are at war, with huma...",...,149.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For one world to live, the other must die.",Transformers: The Last Knight,False,6.2,1440.0,NaN,False
44844,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,123229,tt2282849,fr,Les Kaïra,3 childhood friends who have never left their ...,...,98.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Porn in the Hood,False,5.4,92.0,NaN,False
44848,False,"{'id': 162782, 'name': 'Mommies Collection', '...",2000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,159447,tt2592500,ru,"С новым годом, мамы!","A continuation of a famous Russian comedy ""Mam...",...,90.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,"Mommies, Happy New Year!",False,5.3,9.0,NaN,False
44850,False,NaN,2000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,75438,tt1820462,ru,Beremennyy,The main character of the film Sergey Dobrolyu...,...,81.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Pregnant,False,3.1,7.0,NaN,False
44856,False,NaN,3000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,57701,tt1820555,ru,Na Kryuchke!,"Rita, a figure skating coach, wants to prevent...",...,90.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,On the Hook!,False,4.7,3.0,NaN,False
44888,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,408024,tt5072406,fr,Moka,Diane Kramer is led by one obsession: to find ...,...,89.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Moka,False,6.1,24.0,NaN,False
44904,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",http://goodtime.movie/,429200,tt4846232,en,Good Time,A bank robber tries to avoid the law closing i...,...,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,Good Time,False,7.3,46.0,NaN,False
44947,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,29458,tt0238891,it,I cento passi,"The story of Peppino Impastato, a political ac...",...,114.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,One Hundred Steps,False,7.8,116.0,NaN,False
45063,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}]",NaN,290217,tt3956312,en,同桌的妳,"In the summer of 1993, timid and shy Zhou Xiao...",...,0.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,NaN,My Old Classmate,False,6.0,4.0,NaN,False
45093,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,152155,tt2569398,ru,Со мною вот что происходит,"December, 31st. Impossible Moscow traffic, an ...",...,72.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,And Here's What's Happening to Me,False,5.7,3.0,NaN,False
45139,False,NaN,50000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",http://www.theemoji-movie.com/,378236,tt4877122,en,The Emoji Movie,"Gene, a multi-expressional emoji, sets out on ...",...,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Not easy being meh,The Emoji Movie,False,5.8,327.0,NaN,False
45167,False,NaN,11000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,395834,tt5362988,en,Wind River,An FBI agent teams with the town's veteran gam...,...,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nothing is harder to track than the truth.,Wind River,False,7.4,181.0,NaN,False
45248,False,NaN,0,"[{'id': 28, 'name': 'Action'}]",NaN,49074,tt0139876,ta,Baasha,Auto rickshaw driver Manickam avoids violence ...,...,145.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Baasha,False,7.8,14.0,NaN,False
45250,False,NaN,12000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,24049,tt0479751,ta,சிவாஜி,Corrupt police and politicians target a comput...,...,185.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,NaN,Sivaji: The Boss,False,6.9,25.0,NaN,False
45381,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,264269,tt2400314,ru,Vladeniye 18,"Sveta and Maxim, a happy newlyweds, are moving...",...,90.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Apartment 18,False,4.4,4.0,NaN,False
45399,False,NaN,750000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,280422,tt3805180,ru,Все и сразу,NaN,...,0.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,All at Once,False,6.0,4.0,NaN,False
45401,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,240789,tt1197626,ru,Чудо,The film is based on real events that took pla...,...,110.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,The Miracle,False,6.3,3.0,NaN,False
45409,False,NaN,800000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,62757,tt0933361,en,Dikari,"The sea, August, interesting and simple people...",...,100.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Savages,False,5.8,6.0,NaN,False
45412,False,NaN,2000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,63281,tt1718881,en,Про любоff,"У девушки Даши, приехавшей с подругой «покорят...",...,107.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Pro Lyuboff,False,4.0,3.0,NaN,False
45422,False,NaN,5000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,63898,tt1110037,ru,Антидурь,Failing to complete an important assignment wi...,...,91.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Antidur,False,1.0,1.0,NaN,False

In [43]:
df

False    43348
True        25
Name: bilhao, dtype: int64

# Random Forest

from sklearn.ensemble import RandomForestClassifier

Atividade: Tente escrever você mesmo o código de criação, treinamento e teste do modelo.
model = RandomForestClassifier(n_estimators=100)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print('Acurácia: {}'.format(accuracy_score(y_test, y_pred)))

# One Hot Encoder

from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()