In [6]:
import pandas as pd
import ast
from pprint import pprint

In [7]:
df = pd.read_csv("movies_metadata.csv")
df2 = pd.read_csv("credits.csv")
df2.head()

C:\Users\ana clara\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [8]:
atores = []
for e in range(0,len(df2["cast"])):
    data_dict = ast.literal_eval(df2["cast"][e])
    for palavras in data_dict:
        atores.append(palavras['name'])
#atores
df_atores = pd.DataFrame(atores)
#df_atores.head()
df_atores[0].value_counts().head()

Bess Flowers         241
Christopher Lee      148
John Wayne           125
Samuel L. Jackson    123
Michael Caine        110
Name: 0, dtype: int64

In [9]:
#pprint(data_dict)

In [10]:
data_dict[1]['name']

IndexError: list index out of range

In [12]:
df['original_title'].head(20)

0                          Toy Story
1                            Jumanji
2                   Grumpier Old Men
3                  Waiting to Exhale
4        Father of the Bride Part II
5                               Heat
6                            Sabrina
7                       Tom and Huck
8                       Sudden Death
9                          GoldenEye
10            The American President
11       Dracula: Dead and Loving It
12                             Balto
13                             Nixon
14                  Cutthroat Island
15                            Casino
16             Sense and Sensibility
17                        Four Rooms
18    Ace Ventura: When Nature Calls
19                       Money Train
Name: original_title, dtype: object

In [13]:
df_en = df[df['original_language'] == 'en']

In [14]:
df_en['original_title'].value_counts().head(20)

Hamlet                           8
Alice in Wonderland              8
A Christmas Carol                7
Cinderella                       7
The Three Musketeers             7
Frankenstein                     6
Macbeth                          6
Treasure Island                  6
King Lear                        6
Wuthering Heights                6
Jane Eyre                        6
The Hound of the Baskervilles    6
Les Misérables                   5
Great Expectations               5
Heidi                            5
Emma                             5
Peter Pan                        5
Beauty and the Beast             5
Carrie                           4
Life                             4
Name: original_title, dtype: int64

In [23]:
df_list = df_en['original_title'].values.tolist()
repetidos = list(set(df_list))
df_repetidos = pd.DataFrame(repetidos)
df_repetidos[0].value_counts()

The Watch                                           1
Michael Che Matters                                 1
Voice of the Whistler                               1
Neighbours                                          1
The Great Impostor                                  1
Walter                                              1
Go Now                                              1
The Princess of Nebraska                            1
The Black Castle                                    1
Who Killed Aunt Maggie?                             1
An Open Secret                                      1
Stranger on the Third Floor                         1
The Man Who Knew Infinity                           1
Oasis                                               1
Dr. Dolittle 3                                      1
Седьмой спутник                                     1
Hard                                                1
Ali Wong: Baby Cobra                                1
Carlos                                              1
Max Keeble's Big Move                               1
Enough                                              1
Mo                                                  1
Kyuketsu dokuro-sen                                 1
Dear Zachary: A Letter to a Son About His Father    1
Barbershop                                          1
Sweet Surrender                                     1
Curtain                                             1
Pajama Party                                        1
Mosquinha                                           1
Seven Angry Men                                     1
                                                   ..
Rock School                                         1
Category 7: The End of the World                    1
The Midnight Man                                    1
Better Things                                       1
Sydney White                                        1
Cell Count                                          1
Foul Play                                           1
The Amityville Asylum                               1
Winterhawk                                          1
Feel The Noise                                      1
Take a Hard Ride                                    1
The Hire: Star                                      1
Columbo - Ransom for a Dead Man                     1
Peeping Tom                                         1
Kentucky Kernels                                    1
View From A Blue Moon                               1
He Never Died                                       1
Blood and Chocolate                                 1
The Whispering Shadow                               1
Nikki Glaser: Perfect                               1
Linsanity                                           1
Mimesis                                             1
Mutants                                             1
The Angry Silence                                   1
Project: Shadowchaser                               1
The Era of Vampires                                 1
Husbands                                            1
The People Against O'Hara                           1
Out of Bounds                                       1
Mask Maker                                          1
Name: 0, Length: 30493, dtype: int64

In [ ]:
df_bi = df[df['revenue'] > 1000000000]
df_bi.sort_values(by='revenue').tail()

In [ ]:
#df_en.sort_values(by='revenue')

In [ ]:
#df[df['id'] == '141971'].head()

In [ ]:
#df.sort_values(by='id').head()

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
encoder = OneHotEncoder()

In [41]:
#df